.error {
  color: #ef5350;
}

form {
  @media screen and (min-width: 500px) {
    display: flex !important;
    >button {
      flex: 1;
      margin-top: 22px;
    }
  }
  >button {
    width: 100%;
  }
  .textInput {
    flex: 4;
  }
}

.results {
  .bookList {
    display: flex;
    flex-wrap: wrap;
    .book {
      margin: 5px;
      .card {
        img {
          width: 140px;
          height: 200px;
        }
      }
    }
  }
}

.results {
  margin: 10px 0;
}


