@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

.error {
  color: #ef5350;
}

form {
  @media screen and (min-width: 500px) {
    display: flex !important;
    >button.btn {
      flex: 1;
      margin: 1rem;
      height: 3rem;
      line-height: 3rem;
    }
  }
  >button {
    width: 100%;
  }
  .textInput {
    flex: 4;
  }
}

.collapsible {
  :nth-child(2) {
    .collapsible-body {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  :nth-child(3) {
    .collapsible-body {
      padding-top: 0;
    }
  }
}

.results {
  .bookList {
    display: flex;
    flex-wrap: wrap;
    .book {
      margin: 5px;
      .card {
        img {
          width: 140px;
          height: 200px;
        }
      }
    }
  }
}

.results {
  margin: 10px 0;
}

.slide-enter {
  transform: translateX(-100%);
}

.slide-enter-active {
  @include animation('slide-in 300ms ease-out forwards');
}

.slide-leave {
  transform: translateX(0%);
}

.slide-leave-active {
  @include animation('slide-out 300ms ease-out forwards');
}


@include keyframes(slide-in) {
  from { 
    transform: translateX(-100%); 
  }
  to { 
    transform: translateX(0%); 
  }
}

@include keyframes(slide-out) {
  from { 
    transform: translateX(0%); 
  }
  to { 
    transform: translateX(100%); 
  }
}

